html,
body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.no--select {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

h3 {
  text-align: left;
  margin-top: 20px;
  margin-bottom: 30px;
  font-weight: 500;
}

.no-padding{
    padding: 0;
}

.padding-top-15{
    padding-top: 15px;
}

/* MAIN styles */

body {
    font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1rem;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

.app-bg{
    background-color: #145679;/*Blue*/
}

/*        Login layout      */
.app-login-layout{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #145679;/*Blue*/
}

.app-login-layout header {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #145679;/*Blue*/
  box-shadow: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  z-index: 1;
  color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}
/*Login Image*/
.img-wrap {
    display: block;
    margin: 1em auto 0 auto;
}

.img-wrap img {
    width: 100%;
    max-width: 300px;
    height: auto;
}

/*    Slogan     */
div.slogan-wrap{
    position: relative;
    width: 100%;
}

div.slogan-wrap .container{
    position: relative;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 5px;
    max-width: 300px;
    text-align: center;
}
div.slogan-wrap .container .slogan-shape{
    padding: 5px 8px;
    background-color: #F19B24;/*Orange*/
    border: 1px solid #F19B24;/*Orange*/
    border-radius: 10px 10px 10px 0;
    color: #fff;
    font-weight: bold;
    width: 105px;
    margin: 0 auto;
}

/* Login Issues*/
main.login-form-wrap{
    position: relative;
    width: 100%;
}
/*Login Form */
main.login-form-wrap form{
    position: relative;
    margin: 0 auto;
    padding: 0 8px;
    text-align: center;
    max-width: 300px;
}
main.login-form-wrap form div.mdl-textfield{
    display: block;
    width: 100%;
    position: relative;
    margin: 0 auto;
    color: #fff;
}

/*Material Design Custumization*/
main.login-form-wrap form div.mdl-textfield input.mdl-textfield__input{
  border-bottom: 1px solid #F19B24;/*Orange*/
}

.special-label:after {
  background-color: #fff !important;/*Animation color*/
}

.dark .special-label:after {
  background-color: #145679/*Blue*/ !important;/*Animation color*/
}

main.login-form-wrap form div.mdl-textfield.is-focused input.mdl-textfield__input,
main.login-form-wrap form div.mdl-textfield.is-focused label.mdl-textfield__label{
	color: #fff;
}

main.login-form-wrap button.mdl-button{
    width: 100%;
    border: 2px solid #F19B24;/*Orange*/
    background-color: transparent;
    color: #F19B24;/*Orange*/
    font-size: 1.2em;
    border-radius: 0;
}
/*Register links*/
main.login-form-wrap div.register-wrap{
    position: relative;
    margin: 15px auto;
    padding: 0 8px;
    text-align: center;
    max-width: 300px;
}

main.login-form-wrap div.register-wrap a{
    color: #fff;
    font-size: 12px;
    position: relative;
}

main.login-form-wrap div.register-wrap div.o-wrap{
    position: relative;
    margin: 1.2em auto;
}

main.login-form-wrap div.register-wrap div.o-wrap hr{
    border-top: 1px solid #F19B24;/*Orange*/
}
main.login-form-wrap div.register-wrap div.o-wrap .span-wrap{
    position: absolute;
    margin-top: -1em;
    top: 3px;
    width: 100%;
    color: #fff;
}
main.login-form-wrap div.register-wrap div.o-wrap .span-wrap span{
    position: relative;
    padding: 5px 1em;
    background-color: #145679;/*Blue*/
    margin: 4px auto;
}
/*Terminos y condiciones link*/
main.login-form-wrap div.terms-wrap{
    position: relative;
    margin: 1.5em auto;
    padding: 0 8px;
    text-align: center;
    max-width: 300px;
    color: #F19B24;/*Orange*/
    font-size: 12px;
}

/*           Register        */
form.register-form-wrap div.mdl-grid div.mdl-textfield{
    display: block;
    position: relative;
    margin: 0 auto;
    color: #fff;
}

form.register-form-wrap div.mdl-grid div.mdl-textfield input.mdl-textfield__input{
    border-bottom: 1px solid #F19B24;/*Orange*/
}

form.register-form-wrap div.mdl-grid div.mdl-textfield.is-focused input.mdl-textfield__input:focus{
    border-bottom-color: #fff;
}

form.register-form-wrap div.mdl-grid div.mdl-textfield label.mdl-textfield__label,
main.login-form-wrap form div.mdl-textfield label.mdl-textfield__label{
    color: #fff;
}
/*          Register Button             */
form.register-form-wrap div.mdl-grid div.mdl-cell.button-wrap{
    text-align: center;
}

form.register-form-wrap div.mdl-grid div.mdl-cell.button-wrap button.mdl-button{
    width: 100%;
    max-width: 300px;
    border: 2px solid #F19B24;/*Orange*/
    background-color: transparent;
    color: #F19B24;/*Orange*/
    font-size: 1.2em;
    border-radius: 0;
}
/*     Register Terms           */
form.register-form-wrap div.mdl-grid div.mdl-cell.terms-wrap{
    text-align: center;
}
form.register-form-wrap div.mdl-grid div.mdl-cell.terms-wrap label.mdl-checkbox span.mdl-checkbox__label{
    font-size: 12px;
    color: #fff;
}
form.register-form-wrap div.mdl-grid div.mdl-cell.terms-wrap label.mdl-checkbox span.mdl-checkbox__label a{
    font-weight: bold;
    color: #F19B24;/*Orange*/
}
/*Hints Styles*/
.mdl-hint{
    color: #fff;
    font-size: 11px;
    margin: -20px auto 0 auto;
    max-width: 300px;
    line-height: 16px;
}
/*Navbar icon*/
i.fasfa-bars:before{
    content: "\f0c9";
    font-weight: 600;
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    color: #F19B24;/*Orange*/
}
.mdl-layout__header{
    background-color: #145679;/*Blue*/
    color: #F19B24;/*Orange*/
}
.mdl-layout__drawer-button{
    line-height: 48px;
}
@media screen and (max-width:1024px) {
     .mdl-layout__header-row {
      height:56px;
      padding: 0 40px 0 80px;
     }
}
.mdl-layout__header-row{
    text-align: center;
}

.mdl-layout-title{
    margin: 0 auto;
}
/*Perfil List Elements*/
div.mdl-layout__container div.mdl-layout.mdl-js-layout main.mdl-layout__content div.page-content a.mdl-list__item{
    cursor: pointer;
}

div.mdl-layout__container div.mdl-layout.mdl-js-layout main.mdl-layout__content div.page-content a.mdl-list__item:hover{
    background-color: rgba(0,0,0,.08)
}

div.mdl-layout__container div.mdl-layout.mdl-js-layout main.mdl-layout__content div.page-content a.mdl-list__item span.mdl-list__item-primary-content i{
    font-size: 28px;
    margin-right: 16px;
    margin-left: 6px;
    color: #F19B24;/*Orange*/
}
/*Perfil info*/
.user-wrap{
    position: relative;
    display: flex;
    align-items:center;
    padding: 20px;
    border-bottom: 2px solid #F19B24;/*Orange*/
}

.user-wrap .perfil-image{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin-right: 15px;
    object-fit: cover;
    float: left;
}

.user-wrap .text-wrap {
    position: relative;
    display: block;
}

.user-wrap .text-wrap p.main-text{
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}
.user-wrap .sub-text{
    font-size: 12px;
    line-height: 16px;
    margin: 0;
}

/*           Register        */
form.register-form-wrap-dark div.mdl-grid div.mdl-textfield{
    display: block;
    position: relative;
    margin: 0 auto;
    color: #145679;/*Blue*/
}

form.register-form-wrap-dark div.mdl-grid div.mdl-textfield input.mdl-textfield__input{
    border-bottom: 1px solid #F19B24;/*Orange*/
}

form.register-form-wrap-dark div.mdl-grid div.mdl-textfield.is-focused input.mdl-textfield__input:focus{
    border-bottom-color: #145679;/*Blue*/
}

form.register-form-wrap-dark div.mdl-grid div.mdl-textfield label.mdl-textfield__label,
main.login-form-wrap form div.mdl-textfield label.mdl-textfield__label{
    color: #145679;/*Blue*/
}
/*          Dark forms Button             */
form.register-form-wrap-dark div.mdl-grid div.mdl-cell.button-wrap{
    text-align: center;
}

form.register-form-wrap-dark div.mdl-grid div.mdl-cell.button-wrap button.mdl-button{
    width: 100%;
    max-width: 300px;
    border: 2px solid #F19B24;/*Orange*/
    background-color: #145679;/*Blue*/
    color: #F19B24;/*Orange*/
    font-size: 1.2em;
    border-radius: 0;
}
form.register-form-wrap-dark div.mdl-grid .mdl-hint{
    color: #145679;/*Blue*/
}

/*Menu Settings*/
div.mdl-layout.mdl-js-layout.mdl-layout--fixed-header div.mdl-layout__drawer nav.mdl-navigation{
    padding-top: 0;
}
